.header{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px; 
}

.flex{
    display: flex;
    gap: 50px;

    &.center{
        justify-content: center;
        align-items: center;    
    }
}

.navegation{
    border: 2px solid rgb(0, 0, 0, 0.25);
    color: rgb(0, 0, 0, 0.25);
    padding: 5px 6px;
    width: 75px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
    &.selected{
        border: 2px solid rgb(0, 0, 0, 1);
        color: rgb(0, 0, 0, 1);
    }
}