@import "tailwindcss";

:root {
  --cor-fundo-primaria: #1C1C1C;
  --cor-fundo-secundaria: #292929;
  --cor-primaria: #724edb;
  --cor-secundaria: #f4cd5b;
}

body {
  color: white;
  background-color: var(--cor-fundo-primaria);
  font-family: Arial, Helvetica, sans-serif;
}

textarea:focus {
outline: none;
}