@import "tailwindcss";

:root {
  --cor-fundo-primaria: #101828;
  --cor-fundo-secundaria: #1e2939;
  --cor-fundo-terciaria: #364153;
  --cor-primaria: #155dfc;
  --cor-secundaria: #1447e6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}