.button{
    background-color: #724edb;
    padding: 10px;
    color: white;
    border-radius: 20px;
    transition: all 0.25s ease;
    border: 1px solid #724edb;
    width: 150px;

    &:hover{
        transform: scale(1.1);
        background-color: transparent;
        color:#724edb;
    }
}



.image {
position: relative; /* referência pros filhos */
width: 150px;
height: 150px;
}


.content{
    position: absolute;
    left: -190px;
    top:-80px; 
    transform: rotate(-7deg);
}

/* Triângulo */
.triangle {
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);


width: 0;
height: 0;


border-left: 110px solid transparent;
border-right: 60px solid transparent;
border-bottom: 100px solid #f4cd5b;
z-index: 1;
}


/* Imagem */
.image img {
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
z-index: 2; /* fica em cima do triângulo */
}

.image{
    &.one{
        position: absolute;
        right: 20px;
        bottom: -180px;
        width: 150px;
        border-radius: 50%;
        transform: rotate(5deg);
        background-color: #724edb;
    }
}

.section{
    width: 1000px;
    margin: auto;
    margin-top: 150px;
    position: relative;
}

.title{
    font-size: 50px;
    text-align: center;
    font-weight : bolder;
}

.subtitle{
    font-size: 15px;
    text-align: center;
    color: rgb(0,0,0, 0.5);
}

.glow {
    position: fixed;
    bottom: -200px; /* empurra pra fora da tela */
    left: 50%;
    transform: translateX(-50%);


    width: 120%;
    height: 400px;


    background: radial-gradient(
    ellipse at center,
    rgba(170, 80, 255, 0.6) 0%,
    rgba(170, 80, 255, 0.3) 30%,
    rgba(170, 80, 255, 0.05) 60%,
    transparent 70%
    );


    filter: blur(60px);
    pointer-events: none;
    z-index: 0;
}


.flex{
    display: flex;
    flex-flow: column;
    gap: 35px;

    &.center{
        justify-content: center;
        align-items: center;    
    }
}

.color{
    &.purple{
        color: #724edb;
    }

    &.yellow{
        color: #f4cd5b;
    }
}